    
  <br><br>  
    <div class="container mt-9">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header">Listado de Usuarios</div>
          <div class="card-body">
                <a href="/users/register" class="btn btn-primary mb-3">Crear Usuario</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Email</th>
                            <th scope="col">Password</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each users}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.lastname}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.password}}</td>
                            <td>
                                <a href="/users/editar/{{this._id}}" class="btn btn-primary btn-sm">Editar</a>
                                <form action="/users/eliminar/{{this._id}}" method="POST" class="d-inline">
                                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
      </div>
    </div>
    </div>
  <br><br>